/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.card-content {
    color: #9DBFAF;
}

.card {
    width: 22%;
    display: inline-block;
    padding: 3px;
    box-shadow: 2px 2px 20px black;
    margin: 1.5% 1% 0%1.5%;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 14px;
    text-align: center;
}

.price-di {
    color: grey;
    font-size: 19px;
    text-align: right;
    margin-right: 3px;
}

.card .image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: gainsboro;
    outline: #fdf5e6;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.p-title {
    margin-top: 5px;
}

.card button:hover {
    background-color: brown;
    color: white;
    transition: .5s;
    cursor: pointer;
}


.textboxs {
    background: transparent url(/images/css/input-text-8.jpg) repeat-x;
    border: 1px solid #999;
    outline: 0;
    height: 25px;
    width: 275px;
}

.poster {
    background-size: 100%;
    width: 40%;
    height: 30%
}